@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold/OpenSansBold.eot');
    src: url('../fonts/OpenSans-Bold/OpenSansBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold/OpenSansBold.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSans-Bold/OpenSansBold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular/OpenSansRegular.eot');
    src: url('../fonts/OpenSans-Regular/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSans-Regular/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
