@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  height: 100%; }

body {
  height: 100%;
  font: 100%/1.5em Arial,sans-serif;
  background-color: #fff; }

ol, ul {
  list-style: none; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a, a:hover {
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

#wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.scroll-top {
  height: 45px;
  width: 45px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  padding-top: 3px;
  display: none;
  z-index: 20; }
  .scroll-top:hover {
    background-color: rgba(0, 0, 0, 0.7); }
  .scroll-top img {
    height: 35px;
    width: 35px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.banner-wall {
  min-height: 735px;
  background: url(../img/banner.jpg) no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover; }

.banner-quote .item {
  position: relative;
  height: 735px; }
  .banner-quote .item .corousel-desc {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    text-align: center; }
    .banner-quote .item .corousel-desc h1 {
      font-family: 'OpenSansBold';
      font-size: 50px;
      text-transform: uppercase;
      color: #fff;
      line-height: 55px;
      font-weight: 700;
      letter-spacing: 3px; }
    .banner-quote .item .corousel-desc .slide-wrap {
      height: 2px;
      width: 10%;
      background-color: #ff9900;
      margin: 30px 0;
      display: inline-block; }
    .banner-quote .item .corousel-desc p {
      font-family: 'OpenSansBold';
      font-size: 30px;
      color: #fff;
      letter-spacing: 3px;
      text-transform: uppercase;
      line-height: 35px; }

#navigation {
  width: 100%;
  background-color: #146eb4;
  z-index: 10; }
  #navigation .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 35px; }
    #navigation .logo a {
      font-family: 'OpenSansRegular',sans-serif;
      font-size: 40px;
      color: #fff;
      line-height: 40px;
      text-decoration: none; }

.navtoggle {
  display: none;
  margin: 0 auto;
  border: none;
  background: none;
  color: #fff;
  padding-bottom: .6em; }
  .navtoggle i {
    font-size: 25px;
    margin-right: .2em; }
  .navtoggle span {
    font-family: 'OpenSansRegular',sans-serif;
    font-size: 18px; }

.menu-list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .menu-list li {
    width: 20%; }
    .menu-list li a {
      font-family: 'OpenSansRegular',sans-serif;
      -webkit-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
      color: rgba(249, 249, 249, 0.9);
      font-size: 16px;
      height: 7em;
      display: block;
      text-align: center;
      text-decoration: none;
      border-bottom: 4px solid transparent; }
      .menu-list li a span {
        display: block;
        margin: 0 auto;
        margin-top: 1em; }
        .menu-list li a span.menu-icon {
          margin-top: 0;
          padding-top: 1em; }
      .menu-list li a i {
        -webkit-transition: -webkit-box-shadow .6s ease-in-out;
        transition: -webkit-box-shadow .6s ease-in-out;
        -o-transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out, -webkit-box-shadow .6s ease-in-out;
        display: inline-block;
        font-size: 1.3em;
        padding: .4em;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-box-shadow: 0 0 0 30px transparent;
                box-shadow: 0 0 0 30px transparent;
        background: rgba(255, 255, 255, 0.1); }
      .menu-list li a:hover {
        border-bottom: 4px solid #ff9900;
        background-color: rgba(30, 127, 203, 0.2); }
        .menu-list li a:hover i {
          color: #ff9900;
          -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
                  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2); }
    .menu-list li.active-tab a {
      color: #ff9900;
      border-bottom: 4px solid #ff9900;
      background-color: rgba(30, 127, 203, 0.38); }

/*Общие*/
.block-title {
  position: relative;
  font-family: 'OpenSansBold',sans-serif;
  color: #000;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 41px;
  text-align: center;
  padding-bottom: 30px; }
  .block-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 20%;
    height: 2px;
    background-color: #dcdcdc;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 15px; }
  .block-title::after {
    content: '';
    position: absolute;
    display: block;
    width: 10%;
    height: 2px;
    background-color: #ff9900;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.block-desc {
  font-family: 'OpenSansRegular',sans-serif;
  font-size: 16px;
  color: #999;
  margin-bottom: 50px;
  text-align: center; }

/*О нас*/
#about {
  padding: 100px 0; }

#about-slider img {
  width: 100%; }

.about-text p {
  font-family: 'OpenSansRegular',sans-serif;
  font-size: 16px;
  color: #999;
  margin-bottom: 15px; }
  .about-text p span {
    color: #ff9900; }

.about-check {
  margin-bottom: 45px; }
  .about-check p {
    font-family: 'OpenSansRegular',sans-serif;
    font-size: 16px;
    color: #999;
    margin-bottom: 20px;
    text-align: center; }
  .about-check .company-check {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .about-check .company-check img {
      height: 70px;
      margin-right: 30px; }
      .about-check .company-check img:last-child {
        margin-right: 0; }

.service-panel-item .panel-head {
  padding: 10px 13px;
  border-bottom: 1px solid #e8e8e8; }

.service-panel-item .service-link {
  font-family: 'OpenSansBold';
  font-size: 20px;
  color: #ff9900;
  text-decoration: none;
  display: block;
  position: relative; }
  .service-panel-item .service-link img {
    position: absolute;
    top: 2px;
    right: 30px;
    height: 20px;
    width: 20px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.service-panel-item .panel-body {
  display: none;
  line-height: 2em; }
  .service-panel-item .panel-body p {
    color: #999; }
  .service-panel-item .panel-body .panel-list {
    padding: 10px 28px;
    list-style: disc; }
    .service-panel-item .panel-body .panel-list li {
      font-size: 16px;
      font-family: 'OpenSansRegular';
      color: #000; }

.service-panel-item:nth-child(1) .panel-body {
  display: block; }

.service-panel-item.active-panel .service-link img {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

/*Инфо*/
#info {
  background-color: #136eb4; }
  #info .col-other {
    padding: 0; }
  #info .info-img {
    display: block;
    max-width: 100%;
    height: auto; }

.info-desc {
  padding: 8.5em 11em 0 8em; }
  .info-desc h1 {
    font-family: 'OpenSansBold',sans-serif;
    font-size: 40px;
    color: #fff;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 30px; }
    .info-desc h1 span {
      color: #ff9900; }
  .info-desc p {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #fff; }
  .info-desc .inf-list li {
    font-family: 'OpenSansRegular',sans-serif;
    font-size: 17px;
    color: #fff;
    margin-bottom: 20px; }
    .info-desc .inf-list li i {
      margin-right: 5px; }
  .info-desc .inf-more {
    font-family: 'OpenSansRegular',sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #ff9900;
    padding: 8px 30px;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease; }
    .info-desc .inf-more:hover {
      background-color: #ffb23e; }

/*Услуги*/
#services {
  padding: 100px 0; }
  #services .service-name {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    color: #000; }
    #services .service-name::before {
      content: '';
      display: block;
      position: absolute;
      border: 10px solid transparent;
      border-top: 12px solid #000; }

/*Команда*/
#team {
  background-color: #f5f5f5;
  padding: 100px 0; }

.team-carousel-block {
  position: relative; }

.team-item img {
  margin: 0 auto;
  display: block;
  max-width: 200px; }

.team-item h4 {
  font-family: 'OpenSansRegular',sans-serif;
  color: #ff9900;
  font-size: 18px;
  margin-top: 20px;
  text-align: center; }
  .team-item h4 span {
    color: #000; }

.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 45px;
  height: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 10; }
  .arrow:hover {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer; }
  .arrow img {
    max-width: 100%; }
  .arrow.next {
    right: 10px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .arrow.prev {
    left: 10px;
    -webkit-transform: translateY(-50%) scale(-1, 1);
        -ms-transform: translateY(-50%) scale(-1, 1);
            transform: translateY(-50%) scale(-1, 1); }

/*Контакты*/
#our-contact {
  padding: 100px 0; }

.contact-form-group {
  margin-bottom: 15px; }
  .contact-form-group .form-controller {
    font-family: 'OpenSansRegular',sans-serif;
    padding: 12px;
    font-size: 16px;
    background: transparent;
    color: #000;
    border: 1px solid #000;
    display: block;
    width: 100%;
    resize: none; }
    .contact-form-group .form-controller::-webkit-input-placeholder {
      font-family: 'OpenSansRegular',sans-serif;
      color: #000; }
    .contact-form-group .form-controller::-moz-placeholder {
      font-family: 'OpenSansRegular',sans-serif;
      color: #000; }
    .contact-form-group .form-controller:-moz-placeholder {
      font-family: 'OpenSansRegular',sans-serif;
      color: #000; }
    .contact-form-group .form-controller:-ms-input-placeholder {
      font-family: 'OpenSansRegular',sans-serif;
      color: #000; }
  .contact-form-group .contact-btn {
    font-family: 'OpenSansRegular',sans-serif;
    width: 100%;
    border: 2px solid #000;
    background-color: transparent;
    font-size: 20px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 10px 0;
    color: #000;
    text-align: center; }
    .contact-form-group .contact-btn:hover {
      background-color: #000;
      color: #fff; }

.contact-inner-block {
  display: inline-block; }

.contact-details h3 {
  font-family: 'OpenSansRegular',sans-serif;
  font-size: 25px;
  margin-bottom: 42px;
  color: #000; }

.contact-details .contact-info {
  margin-bottom: 29px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .contact-details .contact-info .contact-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px; }
    .contact-details .contact-info .contact-inner:last-child {
      margin-bottom: 0; }
  .contact-details .contact-info i {
    font-size: 30px;
    color: #000;
    margin-right: 15px; }
  .contact-details .contact-info span {
    font-family: 'OpenSansRegular',sans-serif;
    font-size: 16px;
    color: #000;
    width: 100%;
    display: block; }

.footer-link .social-list li {
  float: left; }
  .footer-link .social-list li:last-child i {
    margin-right: 0; }
  .footer-link .social-list li a i {
    color: #000;
    border: 1px solid #000; }
  .footer-link .social-list li a:hover i {
    color: #fff;
    background: #000; }

#map-block {
  width: 100%; }
  #map-block #map {
    height: 400px; }

/*Футер*/
footer {
  padding: 25px 0;
  background-color: #000; }

.social-list {
  display: inline-block;
  text-align: left; }
  .social-list li {
    margin-bottom: 10px; }
  .social-list a {
    font-family: 'OpenSansRegular',sans-serif;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;
    font-size: 16px;
    text-decoration: none; }
    .social-list a i {
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      color: #fff;
      text-align: center;
      font-size: 16px;
      height: 40px;
      width: 38px;
      line-height: 36px;
      border: 1px solid #fff;
      margin-right: 10px; }
    .social-list a:hover {
      color: #ff9900; }
      .social-list a:hover i {
        background-color: #ff9900;
        border-color: #ff9900; }

.copyright {
  text-align: center;
  font-family: 'OpenSansRegular',sans-serif;
  font-size: 15px;
  color: #fff; }
  .copyright a {
    color: #ff9900;
    text-decoration: none; }
