@charset "UTF-8";
/*1600px*/
@media screen and (max-width: 1600px) {
  .banner-wall {
    min-height: 664px; }
  .info-desc {
    padding: 5em 6em 0em 6em; } }

/*1400px*/
@media screen and (max-width: 1400px) {
  .banner-wall {
    min-height: 553px; }
  #banner-carousel .item {
    height: 533px; }
  .info-desc {
    padding: 3em 2.5em 0 2.5em; }
  .info-desc h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px; }
  .info-desc p {
    margin-bottom: 25px; } }

/*1170px*/
@media screen and (max-width: 1169px) {
  #team, #about, #services, #our-contact, #portfolio {
    padding: 45px 0; }
  #services-info {
    padding-bottom: 45px; }
  #services .service-img {
    margin-top: 45px; }
  #banner-carousel .item .corousel-desc h1 {
    font-size: 40px !important;
    line-height: 44px; }
  #navigation .logo a {
    font-size: 35px; }
  #banner-carousel .item .corousel-desc p {
    font-size: 25px !important; }
  #banner-carousel .item .corousel-desc .slide-wrap {
    margin: 27px 0; }
  .block-title {
    font-size: 30px; }
  .about-desc {
    font-size: 14px; }
  .about-panel-item .about-link {
    font-size: 17px; }
  .info-desc {
    padding: 2em; }
  .info-desc h1 {
    font-size: 26px; }
  .info-desc p {
    font-size: 14px;
    margin-bottom: 12px; }
  .info-desc .inf-list li {
    font-size: 14px;
    margin-bottom: 15px; }
  .info-desc .inf-more {
    font-size: 14px;
    margin-top: 8px; }
  .team-item img {
    max-width: 165px; }
  footer {
    padding: 50px 0 10px 0; }
  .footer-title {
    font-size: 17px;
    margin-bottom: 20px; }
  .footer-p1, .footer-p2 {
    font-size: 13px;
    margin-bottom: 5px; }
  .footer-nav li a {
    font-size: 14px; }
  .copyright {
    font-size: 14px; }
  #services .service-item h2 {
    font-size: 18px;
    margin: 15px 0 8px 0; }
  #services .service-item p {
    font-size: 14px;
    line-height: 30px; }
  .info-item h3 {
    font-size: 22px;
    margin: 20px 0; }
  .info-item p {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 35px !important; } }

/*992px*/
@media screen and (max-width: 991px) {
  #banner-carousel .item .corousel-desc h1 {
    font-size: 30px !important;
    line-height: 33px; }
  #banner-carousel .item .corousel-desc p {
    font-size: 17px !important; }
  #banner-carousel .item .corousel-desc .slide-wrap {
    margin: 28px 0 24px 0; }
  #banner-carousel .item {
    height: 502px; }
  .banner-wall {
    min-height: 502px; }
  #navigation .logo {
    padding-top: 30px; }
  #navigation .logo a {
    font-size: 25px; }
  .menu-list a {
    font-size: 14px !important;
    padding: 0 2px; }
  .block-title {
    font-size: 25px; }
  .about-panel-item .about-link {
    font-size: 15px; }
  .info-desc h1 {
    font-size: 27px; }
  .team-item img {
    max-width: 160px; }
  .col-foot {
    margin-bottom: 40px;
    text-align: center; }
    .col-foot:last-child {
      margin-bottom: 0; }
  .footer-group2 {
    text-align: center;
    padding-top: 20px; }
  .footer-nav ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .contact-details h3 {
    font-size: 22px;
    text-align: center;
    margin: 15px 0 30px 0; }
  .contact-details .contact-info span {
    font-size: 14px; }
  .footer-link {
    text-align: center; }
  .contact-details .contact-info {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

/*767px*/
@media screen and (max-width: 767px) {
  .banner-wall {
    min-height: 350px; }
  #banner-carousel .item {
    height: 350px; }
  #banner-carousel .item .corousel-desc .slide-wrap {
    margin: 25px 0 20px 0; }
  .corousel-desc {
    top: 30% !important; }
  #navigation .logo {
    padding: 20px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .menu-list li {
    width: 25%; }
  .menu-list a {
    text-align: left !important;
    height: auto !important;
    padding: .6em !important; }
    .menu-list a:hover i {
      -webkit-box-shadow: 0 0 0 0 transparent !important;
              box-shadow: 0 0 0 0 transparent !important; }
  .menu-list span {
    display: inline-block !important; }
  .info-desc .inf-more {
    padding: 6px 25px; }
  .header-banner {
    min-height: 320px; }
  .header-title {
    font-size: 35px;
    margin-top: 115px; } }

/*667px*/
@media screen and (max-width: 667px) {
  #banner-carousel .item .corousel-desc h1 {
    font-size: 25px !important;
    line-height: 27px; }
  #banner-carousel .item .corousel-desc p {
    font-size: 14px !important; }
  .banner-wall {
    min-height: 365px; }
  .corousel-desc {
    top: 25%; }
  .block-title {
    font-size: 22px; }
  .about-desc {
    margin-bottom: 30px; }
  .header-banner {
    min-height: 225px; }
  .header-title {
    margin-top: 80px; }
  .page-crumb a.prev-page, .crumb-wrapp, .current-page {
    font-size: 15px !important; } }

/*600px*/
@media screen and (max-width: 600px) {
  #banner-carousel .item .corousel-desc h1 {
    font-size: 20px !important; }
  #banner-carousel .item {
    height: 256px; }
  .banner-wall {
    min-height: 256px; }
  .corousel-desc {
    top: 30% !important; } }

/*560px*/
@media screen and (max-width: 560px) {
  .menu-list {
    display: none; }
  .menu-list li {
    width: 100%; }
  .menu-list li.active-tab a {
    border-bottom: none;
    border-left: 2px solid #ff9900; }
  .menu-list li a:hover {
    border-bottom: none; }
  .navtoggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .menu-list li a span {
    margin-top: 0;
    margin-right: 5px; }
    .menu-list li a span.menu-icon {
      padding-top: 0; }
  .scroll-top {
    height: 40px;
    width: 40px; }
    .scroll-top img {
      height: 30px;
      width: 30px; }
  .header-banner {
    min-height: 190px; }
  .header-title {
    font-size: 30px;
    margin-top: 65px; }
  #services-info .info-list li {
    width: 100%;
    margin-bottom: 10px; }
  #map-block #map {
    height: 250px; } }

/*480px*/
@media screen and (max-width: 479px) {
  #banner-carousel .item .corousel-desc h1 {
    font-size: 15px !important;
    line-height: 30px; }
  #banner-carousel .item .corousel-desc p {
    font-size: 13px !important;
    letter-spacing: 1px; }
  #banner-carousel .item .corousel-desc .slide-wrap {
    margin: 15px 0 10px 0; }
  .corousel-desc {
    top: 26% !important; }
  #navigation .logo {
    padding: 10px 0; }
  #navigation .logo a {
    font-size: 20px; }
  .block-title {
    font-size: 20px; }
  .info-desc {
    padding: 1em; }
  .info-desc h1 {
    font-size: 20px; }
  .header-banner {
    min-height: 180px; }
  .header-title {
    font-size: 25px; } }

/*Необходимость*/
@media screen and (min-width: 560px) {
  .menu-list {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

@media screen and (max-width: 360px) {
  .info-desc h1 {
    font-size: 16px;
    line-height: 30px; } }
